@use "./variables";

header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2.25rem;
  h1 {
    letter-spacing: 1rem;
  }
  i {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(./../images/icon-moon.svg) no-repeat center / 22px 22px;
  }
  @media (min-width: 768px) {
    padding-bottom: 2.875rem;
    i {
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
    }
  }
}

.dark {
  header {
    i {
      background: url(./../images/icon-sun.svg) no-repeat center;
    }
  }
}
