$light_vl_gray: hsl(0, 0%, 98%);
$light_vl_grayish_blue: hsl(236, 33%, 92%);
$light_l_grayish_blue: hsl(233, 11%, 84%);
$light_d_grayish_blue: hsl(236, 9%, 61%);
$light_vd_grayish_blue: hsl(235, 19%, 35%);

$dark_vd_blue: hsl(235, 21%, 11%);
$dark_vd_desaturated_blue: hsl(235, 24%, 19%);
$dark_l_grayish_blue: hsl(234, 39%, 85%);
$dark_l_grayish_blue_hover: hsl(236, 33%, 92%);
$dark_d_grayish_blue: hsl(234, 11%, 52%);
$dark_vd_grayish_blue: hsl(233, 14%, 35%);
$dark_vd_grayish_blue_hover: hsl(237, 14%, 26%);

$font-size: 18px;
$font-family: "Josefin Sans", sans-serif;